.hover-button-container {
    position: relative;
    /* Enables positioning of the text relative to the button */
    display: inline-block;
}

/* Hidden text */
.hover-text {
    position: absolute;
    top: -90%;
    /* Below the button */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f7f7f7;
    /* Same as btn-info */
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    /* Initially hidden */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    white-space: nowrap;
    /* Prevent text wrapping */
}

/* Show text on hover */
.hover-button-container:hover .hover-text {
    opacity: 1;
    visibility: visible;
}